# SANITY_STUDIO_APP_URL=http://localhost:9000
# SANITY_STUDIO_DEV_SITE_URL=http://localhost:3000
# SANITY_STUDIO_PREVIEW_SECRET=secret
SANITY_STUDIO_PRODUCTION_SITE_URL=https://discover.webriq.com
SANITY_STUDIO_PRODUCTION_NETLIFY_SITE_URL=https://webriq-page-builder-default-template.netlify.app