/* ./src/brand/styles/variables.css */

/* Cosmetic: Remove border-right of tools menu */
div[data-ui="Navbar"] > div > div:first-child > div:last-child {
  border-right: 0 !important;
}

/* Hide every thing in the right navbar */
div[data-ui="Navbar"] > div > div:last-child {
  display: none !important;
}

/*  Fallback: Hide manage project from menu */
a[data-ui="MenuItem"][href^="https://sanity.io/manage/project"],
a[data-ui="MenuItem"][href^="https://sanity.io/manage/project"] + hr
{
  display: none !important;
}

/* Fallback: Hide user and logout popover from menu */
button#presence-menu,
button#login-status-menu {
  display: none !important;
}

/* Desktop: when using field groups, we hide the first tab */
[data-ui="TabList"][data-testid="field-group-tabs"] > div:first-child {
  display: none;
}

/* Mobile: when using field groups, hide the first option */
select[data-testid="field-group-select"] > option:first-child {
  display: none;
}

/** Help Guide **/
ul[aria-label="List of Content"] {
  height: 100% !important;
  display: flex !important;
  flex-direction: column;
}

ul[aria-label="List of Content"] > li {
  transform: none !important;
  flex: none !important;
  position: relative !important;
  left: initial !important;
  top: initial !important;
}

ul[aria-label="List of Content"] > li:last-child {
  margin-top: auto;
  padding-top: 10px;
}

ul[aria-label="List of Content"] > li:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--card-border-color);
}
/* End */

/* Duplicate page settings modal */
.hide {
  display: none;
}

.showBtn:hover .hide {
  display: block;
}
